/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** 
.navbar-inverse {
  background-color: #fff;
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #fff;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}*/

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: 2px;
}

/* *********************************
           Big Logo
  ********************************** */
.circle-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  color: #f780f7;
  line-height: 200px;
  text-align: center;
  background: #000;
  margin-bottom: 20px;
}

.big-logo-row {
  background-color: #fff;
}
.big-logo-row .big-logo-container {
  padding: 15px 10px;
}

.big-logo-container img {
	width: 160px;
	height: auto;
	margin: 0 auto;
}

.big-logo-row h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 4.5em;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 6.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 7.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 9em;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 12em;
  }
}
/* *********************************
           Site Basics
  ********************************** */
section {
	margin: 20px 0;
}

h1, h2 {
	font-family: 'Lora', serif;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-family: 'Chivo', sans-serif;
	font-size: 1em;
}

.btn {
    	width: 25%;
}

/* *********************************
           Nav Bar
  ********************************** */
.navbar-inverse {
	background-color: #202021;
	border-color: #202021;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	
}

@media (min-width: 768px) {
.navbar {
    border-radius: 0;
}
}
	
/* *********************************
            Body
  ********************************** */
.take-quiz {
	background: url("../img/quiztaker.jpg") center center; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 60px 0;
}
	


