/* SITE BASICS */

:root {
  --red-color: #EF3B3A;
  --dark-red-color: #a50e0d;
  --light-teal-color: #21def7;
  --medium-teal-color: #07b1c8;
  --dark-teal-color: #046d7b;
  --light-gray-color: #cbcbcb;
  --dark-gray-color: #404040;

}

body {
  color: var(--dark-gray-color);
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  background: #f7f9fc;
}

h1, h2, h3 {font-weight: bold;}

h1, h2 {
	font-family: 'Lora', serif;
	font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4;
}

h1 {
	font-size: 2.369em;
  color: var(--dark-teal-color);
}

h2 {
	font-size: 1.777em;
}

h3 {
  font-size: 1.333em;
}

p {
	font-size: 1em;
}

a {
  color: var(--medium-teal-color);
}

.button {
  padding: 8px 16px;
	font-size: 1.5em;
	text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  border-radius: 4px;
  border: 0;
  transition: all 0.5s ease-in;
  color: #fff;
  background: var(--red-color);
  box-shadow: 5px 5px 20px 0px rgba(204,204,204,1);
}

.button:hover {
  color: #fff;
  background: var(--dark-red-color);
  text-decoration: none;
}

.content-main {
  padding: 40px 0;
}

/* HEADER */

.header-logo {
  display: block;
  width: 60px;
  height: auto;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .header-logo {
    width: 160px;
  }
}

.navbar-inverse {
	background-color: #202021;
	border-color: #202021;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0;
  }
}
	
/* *********************************
            HOMEPAGE
  ********************************** */

.hero {
	background: url("../img/quiztaker.jpg") center center/cover; 
	padding: 60px 0;
	height: calc(100vh - 240px);
}

.hero-title {
	font-size: 1.333em;
	text-shadow: 3px 3px 17px rgba(20, 20, 20, 1);
  color: #EAEBED;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 1.777em;
  }
}

.callout {
  padding: 40px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.callout-title {
  font-size: 1.333em;
}

.fa-quote-left {
  font-size: 2em;
  color: var(--medium-teal-color);
  align-self: center;
}

.callout-title {
  margin-top: 0;
}

.callout-quote {
  margin: 1em 0;
}

@media (min-width: 768px) {
  .callout-quote {
    font-size: 1.5em;
  }
}

.callout-source {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-gray-color);
  transition: color 0.5s;
}

.callout-source:hover {
  text-decoration: none;
  color: var(--medium-teal-color);
}

.links {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .links {
    flex-flow: row nowrap;
  }
}
	
.links-tile {
	text-align: center;
	font-size: 2em;
	font-family: 'Lora', serif;
  color: #fff;
	font-weight: bold;
	padding: 40px 10px;
	margin-bottom: 20px;
  flex: 1 0 30%;
  box-shadow: 5px 5px 20px 0px rgba(204,204,204,1);
}

.links-tile:hover .fas {
  animation-name: rubberBand;
  animation-duration: 0.5s;
}

.links-tile a {
	color: #fff;
}

.path-tile {
	background: var(--light-teal-color);
}

.glossary-tile {
	background: var(--medium-teal-color);
}

.resource-tile {
	background: var(--dark-teal-color);
}

/* *********************************
            SECONDARY CONTENT
  ********************************** */

.resources-card {
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(204,204,204,1);
  border-bottom: 5px solid var(--medium-teal-color);
  padding: 20px;
  margin-top: 40px;
}

.resources-card-title {
  margin: 0.5em 0 1em;
}